.article1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 3rem;
    padding: 3rem;
  
  }
  
  .card1 {
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 2rem;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
  }
  
  .card1 img {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .card1 h2 {
    font-size: 1.5em;
  }
  
  .card1 p {
    font-size: 1em;
  }
  
  .card1 a {
    display: flex;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 10px;
  }