footer {
    padding: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(219, 207, 207);
    margin: 0;
    border-radius: 20px 20px 0 0;  
    .titulo {
      h2 {
        display: flex;
        justify-content: center;
        color: #000;
        font-size: 1.5rem;
        border-radius: 5px;
      }
    }
  
    .contenedor-sociales {
      display: flex;
      justify-content: center;
      align-items: center;
  
      ul {
        display: flex;
        list-style: none;
        justify-content: center;
        align-items: center;
  
        li {
          margin: 10px;
          display: flex;
          align-content: center;
          height: 2rem;
          width: 2rem;
        }
      }
    }
  }
